{% extends "base.html" %}

{% block content %}
  <table id="record" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
					<th scope="col">IC</th>
					<th scope="col">Phone No</th>
					<th scope="col">Type</th>
					<th scope="col">Screened Time</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td>{{ patient['name']  }}</td>
          <td>{{ patient['ic'] }}</td>
          <td>{{ patient['phoneNo'] }}</td>
          <td>{{ patient['type'] }}</td>
          <td>{{ patient['time'] }}</td>
          <td>{{ patient['status'] }}</td>
          <td>
            <form action="#" method="post">
              <div class="input-group">
            <select class="form-select form-select-sm" name="status" id="status" required>
              <option value="{{ patient['status'] }}" selected>Update Status</option>-->
              <option value="examined">Examined</option>
              <option value="waiting">Waiting</option>
            </select>
            <input type="hidden" name="id" value="{{ patient['id'] }}">
              <button class="btn btn-outline-primary btn-sm" type="submit">Update</button>
              </div>
            </form>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#record').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          null,
          {searchable: false},
          null,
          null],
      });
    });
  </script>
{% endblock %}
