{% extends 'navigation.html' %}

{% block title %}Patient's Information{% endblock %}

{% block content %}

<div class="p-5 pb-md-4 mx-auto">
	
	<div class="p-2 mt-3 text-center">
	
		<h1>Patient's Information</h1>

		<p>The information of patients taken during screening.</p>
	
	</div>
	
	<hr>

	<div class="col-sm-12 mt-3 p-4">
		
		<div class="card">
			<div class="card-body">
			
				<div class="row justify-content-end">
					<div class="col-md-8 mb-3">
						<div class="row mt-3">
							<div class="col-sm-3">
								<strong>Patient's Name</strong>
							</div>
							<div class="col-sm-9">
								{{ patient['name'] }}
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-3 text-end">
						<div class="row mt-3">
							<div class="col-sm-8">
								<strong>Time</strong>
							</div>
							<div class="col-sm-4">
								{{ patient['time'] }}
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-start">				
					<div class="col-md-12 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-2">
								<strong>Person in charge</strong>
							</div>
							<div class="col-sm-10">
								{{ patient['users.name'] }}
								<div class="row">
									<div class="col-sm-12">
										( <i class="bi bi-envelope"></i> ) {{ patient['email'] }}
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										( <i class="bi bi-telephone"></i> ) {{ patient['users.phoneNo'] }}
									</div>
								</div>
							</div>
						</div>					
					</div>					
				</div>
				
				<div class="row justify-content-start">			
					<div class="col-md-3 mb-3">
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>IC No.</strong>
							</div>
							<div class="col-sm-8">
								{{ patient['ic'] }}
							</div>
						</div>						
					</div>
					
					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-5">
								<strong>Phone No.</strong>
							</div>
							<div class="col-sm-7">
								{{ patient['phoneNo'] }}
							</div>
						</div>					
					</div>
					
					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>Gender</strong>
							</div>
							<div class="col-sm-8">
								{{ patient['gender'] }}
							</div>
						</div>					
					</div>	
					
					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-3">
								<strong>Age</strong>
							</div>
							<div class="col-sm-9">
								{{ patient['age'] }}
							</div>
						</div>					
					</div>				
				</div>
	
				<hr>
				
				<h5>Patient's Condition</h5>
				
				<div class="row justify-content-start">			
					<div class="col-md-3 mb-3">
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>Fever</strong>
							</div>
							<div class="col-sm-8" id="symptom1">
								{{ patient['fever'] }}
							</div>
						</div>						
					</div>
					
					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>Cough</strong>
							</div>
							<div class="col-sm-8" id="symptom2">
								{{ patient['cough'] }}
							</div>
						</div>					
					</div>
					
					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>Fatigue</strong>
							</div>
							<div class="col-sm-8" id="symptom3">
								{{ patient['fatigue'] }}
							</div>
						</div>					
					</div>	

					<div class="col-md-3 mb-3">					
						<div class="row mt-3">
							<div class="col-sm-4">
								<strong>Dyspnea</strong>
							</div>
							<div class="col-sm-8" id="symptom4">
								{{ patient['dyspnea'] }}
							</div>
						</div>					
					</div>						
				</div>
				
				<div class="row justify-content-start">
					<div class="col-md-6 mb-3">
						<div class="row mt-3">
							<div class="col-sm-6">
								<strong>Highest Temperature</strong>
							</div>
							<div class="col-sm-6">
								{{ patient['temperature'] }} &#8451;
							</div>
						</div>					
					</div>						
				</div>
				
				<div class="row justify-content-start">
					<div class="col-md-6 mb-3">
						<div class="row mt-3">
							<div class="col-sm-6">
								<strong>Predicted Severity of Covid-19</strong>
							</div>
							<div class="col-sm-6 text-capitalize">
								{{ patient['type'] }}
							</div>
						</div>					
					</div>
				</div>

			</div>

		</div>
		
	</div>
	
</div>

<script>
	var i = 1;
	var ttl_features = 5;

	for(i; i<=ttl_features; i++){
		var text = document.getElementById("symptom"+i).innerHTML;
		if (text == 1) {
			document.getElementById("symptom"+i).innerHTML = text.replace(text,"&check;");
		}
		else {
			document.getElementById("symptom"+i).innerHTML = text.replace(text,"&cross;");
		}
	}
</script>

{% endblock %}